<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/frontend.js" defer></script>
</head>

<body>
    <header>
        <h1>Notion internal integration demo</h1>
    </header>

    <main>
        <h2>Goals</h2>
        <p>
            Use this demo to see how to incorporate Notion's public API into your
            app. Build on this demo as needed to meet your own app's requirements!
        </p>
        <p>
            Open the Notion page set in your environment variables to see workspace
            updates in real-time. :)
        </p>

        <form id="toDoForm" enctype="multipart/form-data">
            <label for="taskVal">Task</label>
            <input type="text" id="taskVal" />
            <label for="classVal">Class</label>
            <select id="classVal">
                <% classesList.forEach(class => { %>
                    <option value="<%= class %>"><%= class %></option>
                <% }); %>
            </select>
            <label for="dueDate">Due Date</label>
            <input type="date" id="birthday">
            <label for="notesVal">Notes</label>
            <input type="text" id="notesVal" />
            <input type="submit" />
        </form>
    </main>
</body>

</html>